<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="Solution.php"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <file>SolutionTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
